
.btn {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
}

.bit-btn {
    box-shadow: 0px 2px 25px 0px rgba($bit-blue,0);
    &:hover, &:focus {
        border: 1px solid $bit-blue;
        background: rgba($bit-blue, .05);
        color: $bit-light-100;
        box-shadow: 0px 8px 25px 0px rgba($bit-blue,0.3);
        @include media-breakpoint-up(md) {
            // transform: translateY(-.1rem);           
        }
    }
    &:focus {
        outline: 2px solid rgba($bit-blue, 1);
        outline-offset: 4px;
    }
}

.icon-btn {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    .icon {
        height: 1.9rem;
        margin-right: 1rem;
        &.cta-arrow {
            position: absolute;
            left: 1rem;
            transform: scale(0.9);
        }
        
    }
    @include media-breakpoint-down(lg) {
        .icon {
            position: absolute;
            left: 1rem;
            &.deep-dive {
                transform: translateY(-4%);
            }
        }
    }
}


.cta-arrow-holder {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 1rem;
    .cta-arrow {
        width: 2.8rem;
        margin-right: .7rem;
    }
}