
.btn {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    letter-spacing: 1.6px;
}

.bit-btn {
    box-shadow: 0px 2px 25px 0px rgba($bit-blue,0);
    &:hover, &:focus {
        border: 1px solid $bit-blue;
        background: rgba($bit-blue, .05);
        color: $bit-light-100;
        box-shadow: 0px 8px 25px 0px rgba($bit-blue,0.3);
        @include media-breakpoint-up(md) {
            // transform: translateY(-.1rem);           
        }
    }
    &:focus {
        outline: 2px solid rgba($bit-blue, 1);
        outline-offset: 4px;
    }
}

.icon-btn {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    .icon {
        height: 1.9rem;
        margin-right: 1rem;
        &.cta-arrow {
            position: absolute;
            left: 1rem;
            transform: scale(0.9);
        }
        
    }
    @include media-breakpoint-down(lg) {
        .icon {
            position: absolute;
            left: 1rem;
            &.deep-dive {
                transform: translateY(-4%);
            }
        }
    }
}

.banner-btn {
    position: relative;
    z-index: 100;
    box-shadow: none !important;
    .text-holder {
        height: 2.5rem;
    }
    
    .icon-holder {
        background: $bit-dark;
        color: $bit-light-100;
        width: 2.5rem;
        height: 2.5rem;
        // border: 2px solid $bit-light-100;
        .icon {
            position: relative;
            height: 1.6rem;
            margin: 0;
            left: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        .icon-holder, .text-holder, .btn-text {
            transition: all .3s ease-out;
        }
        .text-holder {
            max-width: 0rem;
            overflow: hidden;
            .btn-text {
                opacity: 0;
                transform: scale(0.8);
            }
        }
        &:hover {
            .text-holder {
                max-width: 5rem;
                padding: 0 1rem;
                .btn-text {
                    opacity: 1;
                    transform: scale(0.8);
                }
            }
            .icon-holder {
                background: $bit-light-100;
                color: $bit-dark;
                // border: 2px solid $bit-dark;
            }
        }
    }
}


.cta-arrow-holder {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-top: 1rem;
    .cta-arrow {
        width: 2.8rem;
        margin-right: .7rem;
    }
}

.glow-svg-hover {
    svg {
        transition: all .2s ease-out;
    }

    &:hover {
       svg {
            filter: drop-shadow(3px 3px 30px rgba($bit-blue, .9));
       }
    }
}

.fade-link {
}

