.collective-header {
    // min-height: 600px;
    min-height: 300px;
    .rt-lines {
        transform-origin: top;
    }
    @include media-breakpoint-up(sm) {
        min-height: 500px;
    }
    @include media-breakpoint-up(md) {
        height: 100vh;
    }
    @include media-breakpoint-down(md) {
        margin-top: 4rem !important;
    }

}

.collective-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    mix-blend-mode: exclusion;
    @include media-breakpoint-down(md) {
        width: 150%;
        left: -25%;
    }
}

.collective-overview {
    margin-top: 10rem;
}
