.fader {
    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        pointer-events: none;
        user-select: none;
        left: 0;
    }

    &.fader-40 {
        &::before, &::after {
            height: 40%;
        }
    }

    &.fader-50 {
        &::before, &::after {
            height: 50%;
        }
    }

    &.fader-60 {
        &::before, &::after {
            height: 60%;
        }
    }

    &.fader-bottom {
        &::after {
            bottom: 0;
            background: -webkit-linear-gradient(90deg, rgba($bit-dark, 1) 0%, rgba($bit-dark, 0) 100%);
            z-index: 3;
        }
    }
    
    &.fader-top {
        &::before {
            top: 0;
            background: -webkit-linear-gradient(-90deg, rgba($bit-dark, 1) 0%, rgba($bit-dark, 0) 100%);
            z-index: 3;
        }
    }
}

