.form-control {
    border-radius: 0;
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid $bit-blue;
    }
}


.arrow-group {
    background: $bit-light-100;
    .btn {
        background: $bit-light-100;
        svg {
            width: 3rem;
            opacity: .6;
            transition: all .3s ease;
        }
        &:hover {
            background: $bit-dark;
            color: $bit-light-100 !important;
            svg {
                opacity: 1;
            }
        }
    }
}

// Subscribe form

.subscribe {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 60px;

    & > * {
        height: 60px;
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
    }

    .subscribe-form > * {
        width: 100%;
    }

    .subscribe-spinner-wrapper {
        background: linear-gradient(to left,white 60%, transparent );
        .subscribe-spinner {
            border-color: rgba($bit-dark, 1);
            border-right-color: transparent !important;
        }
    }
}

