.form-control {
    border-radius: 0;
    &:focus {
        box-shadow: none;
        outline: none;
        border: 1px solid $bit-blue;
    }
}


.arrow-group {
    background: $bit-light-100;
    .btn {
        background: $bit-light-100;
        svg {
            width: 3rem;
            opacity: .6;
            transition: all .3s ease;
        }
        &:hover {
            background: $bit-dark;
            color: $bit-light-100 !important;
            svg {
                opacity: 1;
            }
        }
    }
}