.hero {
    width: 100%;
    overflow: hidden;
    height: 75vh;
    min-height: 20rem;
    position: relative;
    background: $bit-dark;
    z-index: 2;
    .info {
        position: relative;
        z-index: 4;
    }

    // BG Holder 
    .hero-bg-holder {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;

        // BG Image 
        .hero-img {
            object-fit: cover;
            object-position: center;
            position: relative;
            width: 120%;
            height: 120%;
            top: -10%;
            left: -10%;
        }

        // BG Video 
        .hero-video {
            position: absolute;
            width: 120%;
            top: -10%;
            left: -10%;
            height: 120%;
            object-fit: cover;
        }
    }


    @include media-breakpoint-up(lg) {
        min-height: 30rem;
    }

    &-btn {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}