// Nav Body classes 
body {
    main {
        transition: filter .6s ease-out;
        transition-delay: .4s;
        // filter: blur(0px);
    }
    &.menu-open {
        overflow: hidden;
        main {
            filter: blur(45px);
            transition-delay: .2s;
        }
        .art-tease {
            opacity: 0;
        }
    }
}


.bit-nav {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .4s ease-out;
    // background: yellow;
    display: flex;
    align-items: center;
    height: 4rem;

    // background: black;
    .nav-content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-items {
            margin: auto;
            display: flex;
            padding: 0;
            list-style: none;
        }

        .nav-social {
            list-style: none;
            display: flex;

        }
    }

    // Gradient 
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 180%;
        pointer-events: none;
        content: "";
        background: -webkit-linear-gradient(-90deg, rgba($bit-dark, 1) 15%, rgba($bit-dark, 0) 100%);
    }

    // Shifted on scroll 
    &.shifted {
        // top: -4rem;
        // transform: translateY(-100%);
        transition: all .5s ease-out;
    }
    &.opened {
        top: 0rem !important; 
    }

    @include media-breakpoint-up(lg) {
        height: 5rem;
    }

    // Mobile nav 
    @include media-breakpoint-down(md) {
        .nav-items {
            overflow: hidden;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            z-index: 9;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            .nav-item {
                overflow: hidden;
            }
        }  
        
        .nav-curtains {
            display: flex;
            // transform: scale(2) rotate(30deg);
            // transform-origin: center;
        }

        // Collapsed 
        &.collapsed {
            
            .nav-curtains {
                // transform: scale(1.5) rotate(0deg);
                .nav-curtain:nth-child(odd) {
                    // transform: translateX(-100%);
                }
                .nav-curtain:nth-child(even) {
                    // transform: translateX(100%);
                }
            }
        }
    }
}


.nav-curtains {
    z-index: -1;
    position: fixed;
    transition: all .5s ease-in-out;
    display: none;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    .nav-curtain {
        position: relative;
        transition: all .35s ease-in-out;
        width: 52%;
        height: 100vh;
        background: rgba($bit-dark, 1);
        // backdrop-filter: blur(15px);
    }
}



// Nav Brand 
.navbar-brand {
    position: relative;
    z-index: 12;
    display: flex;
    align-items: center;

    .brand-logo {
        width: 13rem;
        transition: all .25s ease-out;
        position: relative;
        top: .15rem;
    }

    @include media-breakpoint-up(md) {
        &:hover {
            color: $bit-blue;

            .brand-logo {
                // filter: drop-shadow(3px 3px 30px rgba($bit-blue, .9));
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .brand-logo {
            width: 14rem;
            top: .25rem;
        }
    }
}


// Nav Link 
.nav-link {
    padding: 1rem 0.8rem;
    color: $bit-light-100;
    transition: all .25s ease-out;

    &.nav-social-link {
        .icon {
            width: 1.5rem;
        }
    }

    @include media-breakpoint-up(md) {
        text-shadow: 0px 0px 20px rgba($bit-blue, 0);
        &:hover,
        &:focus {
            color: $bit-blue !important;
            text-shadow: 3px 3px 50px rgba($bit-blue, 1);
        }

        &:active {
            transform: scale(0.9);
        }

        &.nav-social-link {
            .icon {
                width: 1.3rem;
            }

            &:hover,
            &:focus {
                svg {
                    transform: scale(1.1);
                }
            }
        }

    }

    @include media-breakpoint-up(lg) {
        padding: 1.2rem 1.6rem;
        &.nav-social-link {
            .icon {
                width: 1.3rem;
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        padding: 1.4rem 2rem;
    }

    // Mobile 
    @include media-breakpoint-down(md) {
        font-size: 2rem;
        text-align: center;
        &:active {
            color: $bit-blue;
            transform: scale(0.9);
        }
    }

}

.nav-trigger {
    display: block;
    background: transparent;
    color: $bit-light-100 !important;
    text-decoration: none;
    text-align: right;
    position: relative;
    z-index: 12;
    overflow: hidden;
    width: 5rem;
    height: 4rem;
    .trigger-labels {
        position: absolute;
        width: 100%;
        height: 200%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: transform .4s ease-out;
        .trigger-label {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: end;
            transition: all .3s ease-out;
        }
        .menu-close {
            opacity: 0;
            filter: blur(5px);
        }
    }

    &.open {
        .trigger-labels {
            transform: translateY(-50%);
            .menu-close {
                opacity: 1;
                filter: blur(0);
            }
            .menu-open {
                opacity: 0;
                filter: blur(5px);
            }
        }
        
    }
}