.site-alert {
    background-image: linear-gradient(270deg, rgba($bit-purple-dark, 1) 0%, rgba($bit-purple, 1) 100%);
    z-index: 999;
    position: relative;
    // display: none !important;
    .icon {
        width: 3rem;
    }
    .packshot {
        width: 5rem;
    }

    @include media-breakpoint-up(md) {
        height: 4rem;
    }
}
