// Typography
$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 12.5 !default;
$h2-font-size:                $font-size-base * 2.8 !default;
$h3-font-size:                $font-size-base * 1.2 !default;
$h4-font-size:                $font-size-base * 1.1 !default;
$h5-font-size:                $font-size-base * 1 !default;
$h6-font-size:                $font-size-base !default;


// Containers 
$container-max-widths: (
  sm: 768px,
  md: 968px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1920px
) !default;


// Buttons 
$btn-padding-y: .8rem;
$btn-padding-x: 1.6rem;

// Accordion 
$accordion-color: $bit-light-100;
$accordion-bg:  transparent;
$accordion-border-width: 0;
$accordion-border-radius: 0;